/*----------------------------------------------------------------------------*/
/*framework*/
/*Блок обовязкових кольорів сайта*/
/*колір гіперпосилань*/
/*колір текста*/
/*колір помилкових полів */
/*повідомлення*/
/*плейсхолдери*/
/*columns*/
/*Тінь блока*/
/*Вунтрішеня тінь*/
/*тіне текстів*/
/*Мусові кольори для плейсхолдерів і невірно заповнених полів форм*/
/* стилі плейсхолдерів до купки не клеїти! */
::-webkit-input-placeholder {
  color: #000000 !important;
}
:-moz-placeholder {
  color: #000000 !important;
}
::-moz-placeholder {
  color: #000000 !important;
}
:-ms-input-placeholder {
  color: #000000 !important;
}
/*@import "../lessvars/animate.less";*/
.boxsizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flex_display {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*Конвертер выдносних одиниць  
.class {
  .pxToEm(20px, можна вказати базу);
  content: @calcEm;
}
*/
/*Радіуси*/
/*прозорість (задається від 1 до 100 % з кроком в 1 )*/
/*тіні*/
/*Правильне центрування і масшатбування картинок, що вписує їх в блок по всіх параметрах + згладжування картинок*/
.image_center {
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
img {
  height: auto;
}
/* Інтерполяція картинок*/
/* img {
    height:auto;
    image-rendering:optimizeSpeed;              
    image-rendering:-moz-crisp-edges;                  
    image-rendering:-o-crisp-edges;                    
    image-rendering:-webkit-optimize-contrast;           
    image-rendering:optimize-contrast;           
    image-rendering:crisp-edges;                 
    image-rendering:pixelated;                    
    -ms-interpolation-mode:nearest-neighbor;               
}*/
/*для верстки меню табличкою*/
.table_wrap {
  display: table;
  width: 100%;
}
.table_wrap > ul {
  display: table-row;
}
.table_wrap > ul > li {
  display: table-cell;
  width: 1000px;
  vertical-align: middle;
}
.table_wrap > ul > li > a {
  text-align: center;
  display: block;
}
/*преміщаємо бекграунд для свг*/
/*Викоритання ОБОВЯЗКОВО  @fill-default і  <path fill="#111111" кольори мають співпадати*/
/*@import "../lessvars/filtergradient.less";*/
/*@import "../lessvars/transform.less";*/
/*@import "../lessvars/typo.less";*/
/*mixins for EEgnith*/
/*@import "../lessvars/eegnith_mixins.less"; */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*адапитвності та колонки ЗАВЖД�? ВКІНЦІ*/
/*.column(@width:1, @padding:@column_spacer, @global_column:@column_counter){
    width:(@width * 100% / @global_column);
    padding: @padding;
}*/
/*.offset(@width:1, @global_column:@column_counter){
    margin-left:(@width * 100% / @global_column);
}*/
.col-1,
.col-l-1,
.col-m-1,
.col-s-1,
.col-xs-1 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-1.right,
.col-l-1.right,
.col-m-1.right,
.col-s-1.right,
.col-xs-1.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-1.center,
.col-l-1.center,
.col-m-1.center,
.col-s-1.center,
.col-xs-1.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-1.hide,
.col-l-1.hide,
.col-m-1.hide,
.col-s-1.hide,
.col-xs-1.hide {
  display: none;
}
.col-1.offset.hide,
.col-l-1.offset.hide,
.col-m-1.offset.hide,
.col-s-1.offset.hide,
.col-xs-1.offset.hide {
  display: none;
}
.col-2,
.col-l-2,
.col-m-2,
.col-s-2,
.col-xs-2 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-2.right,
.col-l-2.right,
.col-m-2.right,
.col-s-2.right,
.col-xs-2.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-2.center,
.col-l-2.center,
.col-m-2.center,
.col-s-2.center,
.col-xs-2.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-2.hide,
.col-l-2.hide,
.col-m-2.hide,
.col-s-2.hide,
.col-xs-2.hide {
  display: none;
}
.col-2.offset.hide,
.col-l-2.offset.hide,
.col-m-2.offset.hide,
.col-s-2.offset.hide,
.col-xs-2.offset.hide {
  display: none;
}
.col-3,
.col-l-3,
.col-m-3,
.col-s-3,
.col-xs-3 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-3.right,
.col-l-3.right,
.col-m-3.right,
.col-s-3.right,
.col-xs-3.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-3.center,
.col-l-3.center,
.col-m-3.center,
.col-s-3.center,
.col-xs-3.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-3.hide,
.col-l-3.hide,
.col-m-3.hide,
.col-s-3.hide,
.col-xs-3.hide {
  display: none;
}
.col-3.offset.hide,
.col-l-3.offset.hide,
.col-m-3.offset.hide,
.col-s-3.offset.hide,
.col-xs-3.offset.hide {
  display: none;
}
.col-4,
.col-l-4,
.col-m-4,
.col-s-4,
.col-xs-4 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-4.right,
.col-l-4.right,
.col-m-4.right,
.col-s-4.right,
.col-xs-4.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-4.center,
.col-l-4.center,
.col-m-4.center,
.col-s-4.center,
.col-xs-4.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-4.hide,
.col-l-4.hide,
.col-m-4.hide,
.col-s-4.hide,
.col-xs-4.hide {
  display: none;
}
.col-4.offset.hide,
.col-l-4.offset.hide,
.col-m-4.offset.hide,
.col-s-4.offset.hide,
.col-xs-4.offset.hide {
  display: none;
}
.col-5,
.col-l-5,
.col-m-5,
.col-s-5,
.col-xs-5 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-5.right,
.col-l-5.right,
.col-m-5.right,
.col-s-5.right,
.col-xs-5.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-5.center,
.col-l-5.center,
.col-m-5.center,
.col-s-5.center,
.col-xs-5.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-5.hide,
.col-l-5.hide,
.col-m-5.hide,
.col-s-5.hide,
.col-xs-5.hide {
  display: none;
}
.col-5.offset.hide,
.col-l-5.offset.hide,
.col-m-5.offset.hide,
.col-s-5.offset.hide,
.col-xs-5.offset.hide {
  display: none;
}
.col-6,
.col-l-6,
.col-m-6,
.col-s-6,
.col-xs-6 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-6.right,
.col-l-6.right,
.col-m-6.right,
.col-s-6.right,
.col-xs-6.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-6.center,
.col-l-6.center,
.col-m-6.center,
.col-s-6.center,
.col-xs-6.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-6.hide,
.col-l-6.hide,
.col-m-6.hide,
.col-s-6.hide,
.col-xs-6.hide {
  display: none;
}
.col-6.offset.hide,
.col-l-6.offset.hide,
.col-m-6.offset.hide,
.col-s-6.offset.hide,
.col-xs-6.offset.hide {
  display: none;
}
.col-7,
.col-l-7,
.col-m-7,
.col-s-7,
.col-xs-7 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-7.right,
.col-l-7.right,
.col-m-7.right,
.col-s-7.right,
.col-xs-7.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-7.center,
.col-l-7.center,
.col-m-7.center,
.col-s-7.center,
.col-xs-7.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-7.hide,
.col-l-7.hide,
.col-m-7.hide,
.col-s-7.hide,
.col-xs-7.hide {
  display: none;
}
.col-7.offset.hide,
.col-l-7.offset.hide,
.col-m-7.offset.hide,
.col-s-7.offset.hide,
.col-xs-7.offset.hide {
  display: none;
}
.col-8,
.col-l-8,
.col-m-8,
.col-s-8,
.col-xs-8 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-8.right,
.col-l-8.right,
.col-m-8.right,
.col-s-8.right,
.col-xs-8.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-8.center,
.col-l-8.center,
.col-m-8.center,
.col-s-8.center,
.col-xs-8.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-8.hide,
.col-l-8.hide,
.col-m-8.hide,
.col-s-8.hide,
.col-xs-8.hide {
  display: none;
}
.col-8.offset.hide,
.col-l-8.offset.hide,
.col-m-8.offset.hide,
.col-s-8.offset.hide,
.col-xs-8.offset.hide {
  display: none;
}
.col-9,
.col-l-9,
.col-m-9,
.col-s-9,
.col-xs-9 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-9.right,
.col-l-9.right,
.col-m-9.right,
.col-s-9.right,
.col-xs-9.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-9.center,
.col-l-9.center,
.col-m-9.center,
.col-s-9.center,
.col-xs-9.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-9.hide,
.col-l-9.hide,
.col-m-9.hide,
.col-s-9.hide,
.col-xs-9.hide {
  display: none;
}
.col-9.offset.hide,
.col-l-9.offset.hide,
.col-m-9.offset.hide,
.col-s-9.offset.hide,
.col-xs-9.offset.hide {
  display: none;
}
.col-10,
.col-l-10,
.col-m-10,
.col-s-10,
.col-xs-10 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-10.right,
.col-l-10.right,
.col-m-10.right,
.col-s-10.right,
.col-xs-10.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-10.center,
.col-l-10.center,
.col-m-10.center,
.col-s-10.center,
.col-xs-10.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-10.hide,
.col-l-10.hide,
.col-m-10.hide,
.col-s-10.hide,
.col-xs-10.hide {
  display: none;
}
.col-10.offset.hide,
.col-l-10.offset.hide,
.col-m-10.offset.hide,
.col-s-10.offset.hide,
.col-xs-10.offset.hide {
  display: none;
}
.col-11,
.col-l-11,
.col-m-11,
.col-s-11,
.col-xs-11 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-11.right,
.col-l-11.right,
.col-m-11.right,
.col-s-11.right,
.col-xs-11.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-11.center,
.col-l-11.center,
.col-m-11.center,
.col-s-11.center,
.col-xs-11.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-11.hide,
.col-l-11.hide,
.col-m-11.hide,
.col-s-11.hide,
.col-xs-11.hide {
  display: none;
}
.col-11.offset.hide,
.col-l-11.offset.hide,
.col-m-11.offset.hide,
.col-s-11.offset.hide,
.col-xs-11.offset.hide {
  display: none;
}
.col-12,
.col-l-12,
.col-m-12,
.col-s-12,
.col-xs-12 {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.col-12.right,
.col-l-12.right,
.col-m-12.right,
.col-s-12.right,
.col-xs-12.right {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  position: relative;
}
.col-12.center,
.col-l-12.center,
.col-m-12.center,
.col-s-12.center,
.col-xs-12.center {
  float: none;
  display: table;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  margin-left: auto;
  margin-right: auto;
}
.col-12.hide,
.col-l-12.hide,
.col-m-12.hide,
.col-s-12.hide,
.col-xs-12.hide {
  display: none;
}
.col-12.offset.hide,
.col-l-12.offset.hide,
.col-m-12.offset.hide,
.col-s-12.offset.hide,
.col-xs-12.offset.hide {
  display: none;
}
.wrap {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.col-1 {
  width: 8.33333333%;
  padding: 0 10px;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
  padding: 0 10px;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.col-3 {
  width: 25%;
  padding: 0 10px;
}
.offset-3 {
  margin-left: 25%;
}
.col-4 {
  width: 33.33333333%;
  padding: 0 10px;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
  padding: 0 10px;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.col-6 {
  width: 50%;
  padding: 0 10px;
}
.offset-6 {
  margin-left: 50%;
}
.col-7 {
  width: 58.33333333%;
  padding: 0 10px;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
  padding: 0 10px;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.col-9 {
  width: 75%;
  padding: 0 10px;
}
.offset-9 {
  margin-left: 75%;
}
.col-10 {
  width: 83.33333333%;
  padding: 0 10px;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
  padding: 0 10px;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.col-12 {
  width: 100%;
  padding: 0 10px;
}
.offset-12 {
  margin-left: 100%;
}
/*medium - "l" */
@media screen and (max-width: 1366px) {
  .col-l-1 {
    width: 8.33333333%;
    padding: 0 10px;
  }
  .offset-l-1 {
    margin-left: 8.33333333%;
  }
  .col-l-2 {
    width: 16.66666667%;
    padding: 0 10px;
  }
  .offset-l-2 {
    margin-left: 16.66666667%;
  }
  .col-l-3 {
    width: 25%;
    padding: 0 10px;
  }
  .offset-l-3 {
    margin-left: 25%;
  }
  .col-l-4 {
    width: 33.33333333%;
    padding: 0 10px;
  }
  .offset-l-4 {
    margin-left: 33.33333333%;
  }
  .col-l-5 {
    width: 41.66666667%;
    padding: 0 10px;
  }
  .offset-l-5 {
    margin-left: 41.66666667%;
  }
  .col-l-6 {
    width: 50%;
    padding: 0 10px;
  }
  .offset-l-6 {
    margin-left: 50%;
  }
  .col-l-7 {
    width: 58.33333333%;
    padding: 0 10px;
  }
  .offset-l-7 {
    margin-left: 58.33333333%;
  }
  .col-l-8 {
    width: 66.66666667%;
    padding: 0 10px;
  }
  .offset-l-8 {
    margin-left: 66.66666667%;
  }
  .col-l-9 {
    width: 75%;
    padding: 0 10px;
  }
  .offset-l-9 {
    margin-left: 75%;
  }
  .col-l-10 {
    width: 83.33333333%;
    padding: 0 10px;
  }
  .offset-l-10 {
    margin-left: 83.33333333%;
  }
  .col-l-11 {
    width: 91.66666667%;
    padding: 0 10px;
  }
  .offset-l-11 {
    margin-left: 91.66666667%;
  }
  .col-l-12 {
    width: 100%;
    padding: 0 10px;
  }
  .offset-l-12 {
    margin-left: 100%;
  }
  .col-l-hide {
    display: none;
  }
}
/*medium - "m" */
@media screen and (max-width: 960px) {
  .col-m-1 {
    width: 8.33333333%;
    padding: 0 10px;
  }
  .offset-m-1 {
    margin-left: 8.33333333%;
  }
  .col-m-2 {
    width: 16.66666667%;
    padding: 0 10px;
  }
  .offset-m-2 {
    margin-left: 16.66666667%;
  }
  .col-m-3 {
    width: 25%;
    padding: 0 10px;
  }
  .offset-m-3 {
    margin-left: 25%;
  }
  .col-m-4 {
    width: 33.33333333%;
    padding: 0 10px;
  }
  .offset-m-4 {
    margin-left: 33.33333333%;
  }
  .col-m-5 {
    width: 41.66666667%;
    padding: 0 10px;
  }
  .offset-m-5 {
    margin-left: 41.66666667%;
  }
  .col-m-6 {
    width: 50%;
    padding: 0 10px;
  }
  .offset-m-6 {
    margin-left: 50%;
  }
  .col-m-7 {
    width: 58.33333333%;
    padding: 0 10px;
  }
  .offset-m-7 {
    margin-left: 58.33333333%;
  }
  .col-m-8 {
    width: 66.66666667%;
    padding: 0 10px;
  }
  .offset-m-8 {
    margin-left: 66.66666667%;
  }
  .col-m-9 {
    width: 75%;
    padding: 0 10px;
  }
  .offset-m-9 {
    margin-left: 75%;
  }
  .col-m-10 {
    width: 83.33333333%;
    padding: 0 10px;
  }
  .offset-m-10 {
    margin-left: 83.33333333%;
  }
  .col-m-11 {
    width: 91.66666667%;
    padding: 0 10px;
  }
  .offset-m-11 {
    margin-left: 91.66666667%;
  }
  .col-m-12 {
    width: 100%;
    padding: 0 10px;
  }
  .offset-m-12 {
    margin-left: 100%;
  }
  .col-l-hide {
    display: none;
  }
}
/*small - "s"*/
@media screen and (max-width: 768px) {
  .col-s-1 {
    width: 8.33333333%;
    padding: 0 10px;
  }
  .offset-s-1 {
    margin-left: 8.33333333%;
  }
  .col-s-2 {
    width: 16.66666667%;
    padding: 0 10px;
  }
  .offset-s-2 {
    margin-left: 16.66666667%;
  }
  .col-s-3 {
    width: 25%;
    padding: 0 10px;
  }
  .offset-s-3 {
    margin-left: 25%;
  }
  .col-s-4 {
    width: 33.33333333%;
    padding: 0 10px;
  }
  .offset-s-4 {
    margin-left: 33.33333333%;
  }
  .col-s-5 {
    width: 41.66666667%;
    padding: 0 10px;
  }
  .offset-s-5 {
    margin-left: 41.66666667%;
  }
  .col-s-6 {
    width: 50%;
    padding: 0 10px;
  }
  .offset-s-6 {
    margin-left: 50%;
  }
  .col-s-7 {
    width: 58.33333333%;
    padding: 0 10px;
  }
  .offset-s-7 {
    margin-left: 58.33333333%;
  }
  .col-s-8 {
    width: 66.66666667%;
    padding: 0 10px;
  }
  .offset-s-8 {
    margin-left: 66.66666667%;
  }
  .col-s-9 {
    width: 75%;
    padding: 0 10px;
  }
  .offset-s-9 {
    margin-left: 75%;
  }
  .col-s-10 {
    width: 83.33333333%;
    padding: 0 10px;
  }
  .offset-s-10 {
    margin-left: 83.33333333%;
  }
  .col-s-11 {
    width: 91.66666667%;
    padding: 0 10px;
  }
  .offset-s-11 {
    margin-left: 91.66666667%;
  }
  .col-s-12 {
    width: 100%;
    padding: 0 10px;
  }
  .offset-s-12 {
    margin-left: 100%;
  }
  .col-s-hide {
    display: none;
  }
}
/*extra_small - xs" */
@media screen and (max-width: 510px) {
  .col-xs-1 {
    width: 8.33333333%;
    padding: 0 10px;
  }
  .offset-xs-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-2 {
    width: 16.66666667%;
    padding: 0 10px;
  }
  .offset-xs-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-3 {
    width: 25%;
    padding: 0 10px;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .col-xs-4 {
    width: 33.33333333%;
    padding: 0 10px;
  }
  .offset-xs-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-5 {
    width: 41.66666667%;
    padding: 0 10px;
  }
  .offset-xs-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-6 {
    width: 50%;
    padding: 0 10px;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .col-xs-7 {
    width: 58.33333333%;
    padding: 0 10px;
  }
  .offset-xs-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-8 {
    width: 66.66666667%;
    padding: 0 10px;
  }
  .offset-xs-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-9 {
    width: 75%;
    padding: 0 10px;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .col-xs-10 {
    width: 83.33333333%;
    padding: 0 10px;
  }
  .offset-xs-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-11 {
    width: 91.66666667%;
    padding: 0 10px;
  }
  .offset-xs-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-12 {
    width: 100%;
    padding: 0 10px;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
  .col-xs-hide {
    display: none;
  }
}
/*large - "l" */
/*medium - "m" */
/*small - "s" */
/*extra_small - xs" */
/*----------------------------------------------------------------------------*/
/*# sourceMappingURL=09_css.css.map */